@import 'tailwindcss';

:root {
    --background-color: #F3E1AD;
}

body {
    background-color: var(--background-color);
    background-size: cover;
    background-image: url("/assets/herob.png");
}

html {
  scroll-behavior: smooth;
  scroll-timeline: scroll 3s linear;
}